.ant-table-container {
  border-radius: 0 !important;
  border: 1px solid black !important;
}

.ant-table-cell {
  border: 1px solid black !important;
  border-radius: 0 !important;
  text-align: center !important;
}

.even-row {
  background-color: rgba(85, 85, 85, 0.15);
  border-radius: 0 !important;
}

@media screen and (max-width: 768px) {
  .titletbl {
      text-align: left;
  }

  .table-container {
      overflow-x: auto;
  }

  .msg-popup-modal {
    max-width: 800px;
    width: 100%;
    max-height: 80vh; /* Set a maximum height for the modal */
    overflow-y: auto; /* Add a vertical scrollbar if needed */
    text-align: left;
  }
}

.ant-table-expanded-row-fixed {
  width: 100% !important;/* or overflow: auto; */
}

.ant-picker-panel-container-custom {
  max-height: 80vh;
  overflow-y: auto;
}

/* Add this style to customize the dropdown */
.custom-dropdown {
  max-height: 250px; /* Adjust the max-height as needed */
}
