  .ant-modal-body {
    background-color: var(--body_background);
    color: var(--body_color);
    
  }
  
  .ant-modal .ant-modal-content {
    background-color: var(--header_background);
    color: var(--header_color);
  }

  .ant-modal .ant-modal-title {
    background-color: var(--header_background);
    color: var(--body_color);
  }
  
  .ant-modal-content {
    border: 1px solid #333;
  }
  