.ant-table-container {
  border-radius: 0 !important;
  border-left: 1px solid #DCDCDC !important;
  border-top: 1px solid #DCDCDC !important;
  overflow: auto; /* Add overflow property to enable horizontal scrolling if needed */
}
 
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #DCDCDC !important;
  border-right: 1px solid #DCDCDC !important; /* Add border-bottom to both header and body cells */
}

.ant-table-thead > tr > th {
  border-right: 1px solid #DCDCDC !important; /* Add border-bottom to the table header cells */
}

.even-row {
  background-color: #F9F9F9 !important;
  border-radius: 0 !important;
}
.ant-table-cell {
  border-radius: 0 !important;
  text-align: center !important;
  padding: 8px; /* Adjust padding to your preference */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide content that exceeds the cell width */

}

.content-pre-content {
  white-space: normal;
  text-align: justify;
  margin: 0;
}

.pre-wrapper {
  display: flex;
  align-items: flex-start !important;
}

.content-pre {
  white-space: normal;
  vertical-align: top !important;
  margin: 0;
}

.ant-table-cell-content {
  white-space: normal; /* Allow text to wrap within the "Content" column */
}


@media screen and (max-width: 768px) {
  .titletbl {
    text-align: left;
  }

  .table-container {
    overflow-x: auto;
  }

}

.ant-table-expanded-row-fixed {
  width: 100% !important; /* or overflow: auto; */
}

.ant-picker-panel-container-custom {
  max-height: 80vh;
  overflow-y: auto;
}
