
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.logo-icon{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 5;
  
}

.Header {
  background-color: var(--header_background);
  color: var(--header_color);
  height: 56px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}


.Sidebar {
  background-color: var(--header_background);
  color: var(--header_color);
  text-align: center;
  align-items: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  position: sticky;
  top: 0;
  width: 77px;
}

.App {
  background-color: var(--body_background);
  color: var(--body_color);
  display:block;
  flex-direction: column;
  width: 100%;
  max-height: 100vh; /* Set a maximum height */

}

.toggle-theme-btn {
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 1rem;
}

.toggle {
  margin-left: 10px !important;
}

.PageContent {
  background-color: var(--body_background);
  color: var(--body_color);
  padding-top: 24px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;

}

@media screen and (max-width: 768px) {
  .PageContent {
    overflow-x: auto;
  }
}
.Space {
  background-color: var(--body_background);
  color: var(--body_color);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}

.Title{
  background-color: var(--body_background);
  color: var(--body_color);
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.toggle-theme-btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 1rem;

}

.toggle {
  margin-left: 10px;
}

.tabs {
  background-color: var(--body_background);
  color: var(--body_color);
}

.head-content {
  font-weight: bold;
  border-bottom: 1px solid #555555;
  margin-bottom :16px ;
  
}
.content {
  height: 100%;
  background-color: var(--header_background);
  color: var(--header_color);
  padding: 16px;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .content {
    overflow-x: auto;
  }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--button_color) !important; 
  font-weight: bold;
}

.ant-tabs-tab-btn {
  color: var(--button_color) !important; 
}

.ant-tabs-ink-bar {
  background:var(--button_background)!important;
}

.tabs-line{
  margin-right: 24px;
  display: flex;
  flex-direction: column;

}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--button_color) !important;
  font-weight: bold;
}

.ant-tabs-tab-btn {
  color: var(--button_color) !important;
}

.ant-tabs-ink-bar {
  background: var(--button_background) !important;
}

.tabs-line {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}

.img-container { 
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .img { 
      overflow-x: auto;
  
  }
  .img-container { 
    overflow-x: auto;
  
  }
}

.Preferred {
  margin-top: 16px !important;
  width: 227px;
  height: 48px;
  border: 1.2px solid #555555 !important;
  border-radius: 6px !important;
}

.datepicker-format {
  width: 400px !important;
  margin-bottom: 16px !important;
  text-align: left; 
}

.radiobtn {
  color: var(--button_color) !important;
  display: flex !important;
  flex-direction: column;
  margin-bottom: 10px !important;
}

.radio-text {
  color: var(--button_color) !important;
}



.btn {
  margin-left: 16px !important;
  border: 1.2px solid #555555 !important;
  height: 48px !important;
  font-weight: bold !important;
}

.rangepickerformat {  
  height: 48px !important;
  border: 1.2px solid #555555 !important;
}

.popup-modal {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.ant-modal .ant-modal-footer {
  text-align: center;
}

.msg-popup-modal {
  max-width: 800px;
  width: 100%;
  text-align: left;
}

.ant-modal-body {
  padding: 24px; 
  border-radius: 8px !important;
  background-color: var(--body_background);
  color: var(--body_color);
  font-size: 13px !important;
}

.ant-modal .ant-modal-title {
  background-color: var(--header_background);
  color: var(--body_color);
  text-align: left;
}

.tbl {
  text-align: left;
}


  td{
    padding-left: 20px;
  }

/* Add this CSS to make the DatePicker dropdown smaller */
.custom-dropdown .ant-picker-panel {
  height: 270px;
  overflow:auto;
}

.submitbtn{
    margin-left: 16px !important;
    border: 1.2px solid #555555 !important;
    height: 48px !important;
    font-weight: bold !important;
}

@media screen and (max-width: 638px) {
  .submitbtn {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    border: 1.2px solid #555555 !important;
    height: 48px !important;
    font-weight: bold !important;
  }
}

