
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --body_background:#F5F6F6;
  --body_color: black;
  display: flex;
  flex-direction: column;
  --header_background: white;
  --button_color: black;
  --button_background: black;
}



[data-theme="dark"] {
  --body_background: #181826;
  --header_background: #212134;
  --header_color: white;
  --body_color: white;
  --button_color: white;
  --button_background: white;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
 
}


@media (max-width: 768px) {
  html, body {
    height: 100%;
  }
}
